---
import MainLayout from "../layouts/MainLayout.astro";
import PageTitle from "@components/Page-Title.astro";
const pageTitle = "Branches";
const pageDescription = "";
const pageKeywords = "";
const pageAuthor = "";
---

<!-- src/pages/index.astro -->
<MainLayout title={pageTitle} description={pageDescription} keywords={pageKeywords} author={pageAuthor}>
  <main>
    <!-- <PageTitle title={pageTitle} /> -->
    <div class="contact-group-area pb-70 pt-145" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="61:50">
      <div class="container" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="62:30">
        <div class="row" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="63:26">
          <div class="col-xxl-4 col-xl-6 col-lg-6" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="64:52">
            <div class="contact__gpinfo grey-soft2-bg mb-50" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="65:62">
              <div class="contact__gpinfo-icon text-center" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="66:61">
                <i class="fas fa-map-marker-alt" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="67:18"></i>
              </div>
              <div class="contact__gpinfo-content" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="69:52">
                <p class="h3 oswald contact__gpinfo-content-title text-center mb-25" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="70:77">
                  Delhi
                </p>
                <ul data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="71:21">
                  <li data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="72:23">
                    <a href="/contact-us" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="73:44">
                      <span data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="74:29">Address</span>:
                      <p data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="75:26">
                        Delhi: E - 561, Third Floor, Above Bikaner Sweets, Palam Extension, Dwarka Sec 7, Near Vardhman Star City Mall, New Delhi 110045
                      </p></a
                    >
                  </li>
                  <li data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="79:23">
                    <a href="mailto:info@theaoneglobal.com" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="80:61">
                      <span data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="81:29">Email</span>:
                      <p data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="82:27">
                        <span data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="82:32">info@theaoneglobal.com</span>
                      </p></a
                    >
                  </li>
                  <li data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="85:23">
                    <a href="tel:+919821670673" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="86:49">
                      <span data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="87:29">Phone</span>:
                      <p data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="88:26">+919821670673</p>
                    </a>
                  </li>
                  <li data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="91:23">
                    <a href="#" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="93:25"
                      ><span data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="93:30">Opening</span>:
                      <p data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="94:26">Sun - Thu : 10 AM - 6 PM</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-xl-6 col-lg-6" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="101:52">
            <div class="contact__gpinfo grey-soft2-bg mb-50" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="102:62">
              <div class="contact__gpinfo-icon text-center" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="103:61">
                <i class="fas fa-map-marker-alt" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="104:18"></i>
              </div>
              <div class="contact__gpinfo-content" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="106:52">
                <p class="h3 oswald contact__gpinfo-content-title text-center mb-25" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="107:77">
                  Kathmandu
                </p>
                <ul data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="109:21">
                  <li data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="110:23">
                    <a href="/contact-us" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="111:44">
                      <span data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="112:29">Address</span>:
                      <p data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="113:26">1St Floor, Samsung Plaza, Bijulibazar</p></a
                    >
                  </li>
                  <li data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="117:23">
                    <a
                      href="https://wphix.com/cdn-cgi/l/email-protection#f79e999198b7928f969a879b92d994989a"
                      data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro"
                      data-astro-source-loc="118:111"
                    >
                      <span data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="119:29">Email</span>:
                      <p data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="120:27">
                        <span data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="120:32">info@theaoneglobal.com</span>
                      </p></a
                    >
                  </li>
                  <li data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="123:23">
                    <a href="tel:+977-1-5903756" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="124:50">
                      <span data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="125:29">Phone</span>:
                      <p data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="126:26">+977-1-5903756</p>
                    </a>
                  </li>
                  <li data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="129:23">
                    <a href="#" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="131:25"
                      ><span data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="131:30">Opening</span>:
                      <p data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="132:26">Sun - Thu : 10 AM - 10 PM</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-xl-6 col-lg-6" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="139:52">
            <div class="contact__gpinfo grey-soft2-bg mb-50" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="140:62">
              <div class="contact__gpinfo-icon text-center" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="141:61">
                <i class="fas fa-map-marker-alt" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="142:18"></i>
              </div>
              <div class="contact__gpinfo-content" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="144:52">
                <p class="oswald h3 contact__gpinfo-content-title text-center mb-25" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="145:77">
                  Butwal
                </p>
                <ul data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="147:21">
                  <li data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="148:23">
                    <a href="/contact-us" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="149:44">
                      <span data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="150:29">Address</span>:
                      <p data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="151:26">Milanchowk, Opposite Siddhartha Bank</p></a
                    >
                  </li>
                  <li data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="155:23">
                    <a
                      href="https://wphix.com/cdn-cgi/l/email-protection#10797e767f507568717d607c753e737f7d"
                      data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro"
                      data-astro-source-loc="156:111"
                    >
                      <span data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="157:29">Email</span>:
                      <p data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="158:27">
                        <span data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="158:32">info@theaoneglobal.com </span>
                      </p></a
                    >
                  </li>
                  <li data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="163:23">
                    <a href="tel:071530406" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="164:45">
                      <span data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="165:29">Phone</span>:
                      <p data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="166:26">071530406</p>
                    </a>
                  </li>
                  <li data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="169:23">
                    <a href="#" data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="171:25"
                      ><span data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="171:30">Opening</span>:
                      <p data-astro-source-file="/home/adityasingh/Desktop/aone-reinit/src/components/Contact.astro" data-astro-source-loc="172:26">Sun - Thu : 10 AM - 10 PM</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</MainLayout>
