---
import MainLayout from "../layouts/MainLayout.astro";
import PageTitle from "@components/Page-Title.astro";

import Image from "astro/components/Image.astro";
import pageBannerImg from "@assets/img/country-img/australia_bg.jpg";
import courseImg from "@assets/img/course/course1.jpeg";
import ieltsImg from "@assets/img/course/Ielts.jpg";
import Contact from "@components/Contact.astro";

const pageTitle = " IELTS Test Preparation for Study Abroad | AOne Global";
const pageDescription = "Excelling in the IELTS test made easy. Prepare effectively to reach your English language goals with AOne Global IELTS Test Preparation Classes.";
const pageKeywords = "";
const pageAuthor = "";

const pageBanner = { url: courseImg.src };
---

<!-- src/pages/index.astro -->
<MainLayout title={pageTitle} description={pageDescription} keywords={pageKeywords} author={pageAuthor}>
  <main>
    <PageTitle title={pageTitle} banner={pageBanner} />

    <div class="businnes-area pt-40 pb-90">
      <div class="container">
        <div class="row">
          <div class="col-xxl-12 col-xl-12 col-lg-12">
            <div class="sidebar__deatils">
              <div class="visa-details">
                <div class="visa-deatils__thumb mb-35"></div>
                <div class="row">
                  <div class="col-6">
                    <h3 class="course-detils__title mb-15">IELTS Test Preparation</h3>
                    <p class="mb-35">
                      International English Language Testing System (IELTS) is a standardized English language proficiency test that is required for international studies, profession, and immigration
                      purposes. In this test, listening, writing, reading, and speaking abilities of the individual is tested with a bunch of assessment questionnaires. This is the most popular
                      English Language Test based on paper writing and face to face to interview. This exam is essential to validate your English proficiency level if you are preparing for further
                      study at a college, university, or migration procedure. The test is scored on a nine-band scale, with a score of 1 being the lowest and 9 being the highest. The test results are
                      valid for two years from the test date.
                    </p>
                    <p class="mb-35">
                      The Academic and General Training examinations are the two different IELTS test categories. The General Training test is intended for those who wish to work, train, or migrate to
                      an English-speaking country, while the Academic test is for those who want to study in an English-speaking academic institution.
                    </p>
                    <p class="mb-35">
                      IELTS preparation class in A One Global will make you ready to answer all the questions in your IELTS test with confidence. All four skills, Reading, Writing, Speaking and
                      Listening, will be covered in this course. The course will enhance your academic word bank which will increase your chance of getting higher score in your test. We will be
                      sharing various tips and tricks on how to impress the examiner with your answer. All activities will be comprised of authentic test materials and be evaluated based on official
                      IELTS score. Students will learn time management skills and see their scores improve in just a short period of time.
                    </p>
                  </div>
                  <div class="col-6">
                    <Image src={ieltsImg} alt="" />
                  </div>
                </div>
              </div>
              <div class="row g-0">
                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
                  <div class="course__items d-flex align-items-center">
                    <div class="course__items-icon">
                      <i class="far fa-clock"></i>
                    </div>
                    <div class="course__items-dtext">
                      <span>Duration</span>
                      <h4>Approx 12 weeks</h4>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
                  <div class="course__items d-flex align-items-center">
                    <div class="course__items-icon">
                      <i class="fas fa-users"></i>
                    </div>
                    <div class="course__items-dtext">
                      <span>Classes</span>
                      <h4>Approx 28 Classes</h4>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
                  <div class="course__items d-flex align-items-center">
                    <div class="course__items-icon">
                      <i class="fab fa-wpforms"></i>
                    </div>
                    <div class="course__items-dtext">
                      <span>Certificates</span>
                      <h4>Course Certificates</h4>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
                  <div class="course__items d-flex align-items-center">
                    <div class="course__items-icon">
                      <i class="fas fa-coins"></i>
                    </div>
                    <div class="course__items-dtext">
                      <span>Cost</span>
                      <h4>$39/month</h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="course-ieltes-txt mt-60">
                <h4 class="mb-20">Course Curriculum</h4>
                <p>
                  For the last 25 years, We have helped students, business persons, tourists, clients with medical needs. There are many variations of passages of Lorem Ipsum available, but the
                  majority have suffered alteration
                </p>
              </div>
              <div class="course-module-area pt-15">
                <div class="row">
                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-30">
                    <div class="course-module">
                      <h4 class="course-module__title mb-20">
                        <i class="far fa-hand-point-right"></i> Listening
                      </h4>
                      <div class="course-module__text">
                        <p>
                          Highlight the new, job-relevant skills you've gained and supplement existing qualifications with industry-specific digital certificates plus one for every course within your
                          expert track course.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-30">
                    <div class="course-module">
                      <h4 class="course-module__title mb-20">
                        <i class="far fa-hand-point-right"></i> Writing
                      </h4>
                      <div class="course-module__text">
                        <p>
                          Highlight the new, job-relevant skills you've gained and supplement existing qualifications with industry-specific digital certificates plus one for every course within your
                          expert track course.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-30">
                    <div class="course-module">
                      <h4 class="course-module__title mb-20">
                        <i class="far fa-hand-point-right"></i> Speaking
                      </h4>
                      <div class="course-module__text">
                        <p>
                          Highlight the new, job-relevant skills you've gained and supplement existing qualifications with industry-specific digital certificates plus one for every course within your
                          expert track course.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-30">
                    <div class="course-module">
                      <h4 class="course-module__title mb-20">
                        <i class="far fa-hand-point-right"></i> Reading
                      </h4>
                      <div class="course-module__text">
                        <p>
                          Highlight the new, job-relevant skills you've gained and supplement existing qualifications with industry-specific digital certificates plus one for every course within your
                          expert track course.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="course-video mb-40">
                <img src="assets/img/course/courseplay.jpg" alt="" />
                <div class="course-video_btn">
                  <a class="course-btn popup-video" href="https://www.youtube.com/watch?v=pNje3bWz7V8"><i class="flaticon-play-button-1"></i></a>
                </div>
              </div>
              <div class="course-ieltes-txt mb-10">
                <h4 class="mb-15">Our focus of preparation is on following points:</h4>
                <ul class="necessary-link mb-40">
                  <li><i class="fas fa-check-square"></i>Developing high skills in all the four fields</li>
                  <li><i class="fas fa-check-square"></i>Brushing up your language skills through intensive preparation by our senior and experienced IELTS Tutor.</li>
                  <li>
                    <i class="fas fa-check-square"></i>Our instructors leave no stones unturned in preparing the candidates academically and also boosting confidence that will help to cope up in new
                    environment.
                  </li>
                </ul>
              </div>
              <div class="course-ieltes-txt mb-10">
                <h4 class="mb-15">As a candidate gearing up for IELTS exam, you can expect:</h4>

                <ul class="necessary-link mb-40">
                  <li><i class="fas fa-check-square"></i>Experienced and proficient faculty with proven success record</li>
                  <li><i class="fas fa-check-square"></i>Exclusive and extensive study rich material</li>
                  <li><i class="fas fa-check-square"></i>Personalized assistance</li>
                  <li><i class="fas fa-check-square"></i>Excellent infrastructure which includes a well-equipped library with latest books on IELTS.</li>
                  <li><i class="fas fa-check-square"></i>FREE Full Set Mock tests every Friday</li>
                  <li><i class="fas fa-check-square"></i>Visiting faculty on Saturdays in Master Class.</li>
                  <li><i class="fas fa-check-square"></i>Free proficiency test and review by Instructor every day.</li>
                  <li><i class="fas fa-check-square"></i>Unlimited Mock test to enrolled students.</li>
                </ul>
              </div>
              <div class="course-ieltes-txt mb-10">
                <h4 class="mb-15">
                    Our well-structured course helps the candidates in:
                </h4>

                <ul class="necessary-link mb-40">
                  <li><i class="fas fa-check-square"></i>Helps to develop reading, writing, listening and speaking skills for IELTS General training or Academic examination.</li>
                  <li><i class="fas fa-check-square"></i>Our expert tutor will guide you and prepare quickly to improve your IELTS band score and also you can familiarize with test format and restrictions.</li>
                  <li><i class="fas fa-check-square"></i>We aid you in preparing for IELTS test across four skill areas – reading, listening, writing and speaking.</li>
                  <li><i class="fas fa-check-square"></i>We help you to master practical and useful tips and guide you in developing exam skills, explanations of assessment criteria.</li>
                </ul>
              </div>
              <div class="course-tabs">
                <h4 class="course-tbtitle mb-40" style="border-bottom : 1px solid gray">Frequently Asked Questions</h4>
                <div class="tab-content mb-30">
                  <div class="tab-pane fade show active">
                    <div class="faq-content faq-white">
                      <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              How long does it take for a Transit Visa to process?
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              The European business visa is mainly for people who want to participate in business meetings, conferences in Europe. Visa holders are not allowed to work or seek
                              employment in Europe. Individuals and circumstances influence how long it takes to apply for a business visa.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingTwo">
                            <!-- <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="fasse" aria-controls="collapseTwo">
                              What is the purpose of the United States Business visa?
                            </button> -->
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <p>
                                The European business visa is mainly for people who want to participate in business meetings, conferences in Europe. Visa holders are not allowed to work or seek
                                employment in Europe. Individuals and circumstances influence how long it takes to apply for a business visa.
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThree">
                            <!-- <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="fasse" aria-controls="collapseThree">
                              If the applicant is intending to stay more than 3 months?
                            </button> -->
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <p>
                                The European business visa is mainly for people who want to participate in business meetings, conferences in Europe. Visa holders are not allowed to work or seek
                                employment in Europe. Individuals and circumstances influence how long it takes to apply for a business visa.
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThree1">
                            <!-- <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree1" aria-expanded="fasse" aria-controls="collapseThree1">
                              What are the important things to know as a Transit Visa applicant?
                            </button> -->
                          </h2>
                          <div id="collapseThree1" class="accordion-collapse collapse" aria-labelledby="headingThree1" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <p>
                                The European business visa is mainly for people who want to participate in business meetings, conferences in Europe. Visa holders are not allowed to work or seek
                                employment in Europe. Individuals and circumstances influence how long it takes to apply for a business visa.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- abbrand-area start -->
    <div class="abbrand-area pb-120 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
      <div class="container">
        <div class="abbrand-active owl-carousel">
          <div class="abbrand-img">
            <a href=""><img src="assets/img/testimonial/1.png" alt="" /></a>
          </div>
          <div class="abbrand-img">
            <a href=""><img src="assets/img/testimonial/2.png" alt="" /></a>
          </div>
          <div class="abbrand-img">
            <a href=""><img src="assets/img/testimonial/3.png" alt="" /></a>
          </div>
          <div class="abbrand-img">
            <a href=""><img src="assets/img/testimonial/4.png" alt="" /></a>
          </div>
          <div class="abbrand-img">
            <a href=""><img src="assets/img/testimonial/5.png" alt="" /></a>
          </div>
          <div class="abbrand-img">
            <a href=""><img src="assets/img/testimonial/4.png" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
    <Contact />

    <script>
      // document.addEventListener("DOMContentLoaded", function () {
      //   // Function to handle tab switching
      //   function handleTabSwitch(tabButtons, tabPanes) {
      //     tabButtons.forEach((button) => {
      //       button.addEventListener("click", function (event) {
      //         event.preventDefault();

      //         // Remove active class from all tab buttons and tab panes
      //         tabButtons.forEach((btn) => btn.classList.remove("active"));
      //         tabPanes.forEach((pane) => pane.classList.remove("active"));

      //         // Add active class to the clicked tab button
      //         button.classList.add("active");

      //         // Add active class to the corresponding tab pane
      //         const targetPaneId = button.getAttribute("href").substring(1);
      //         const targetPane = document.getElementById(targetPaneId);
      //         targetPane.classList.add("active");
      //       });
      //     });
      //   }

      //   // Handle main country tabs
      //   const mainTabButtons = document.querySelectorAll("#mainTabs .nav-link");
      //   const mainTabPanes = document.querySelectorAll(".tab-content .tab-pane");
      //   handleTabSwitch(mainTabButtons, mainTabPanes);
      // });
    </script>
  </main>
</MainLayout>
