---
import MainLayout from "../layouts/MainLayout.astro";
import PageTitle from "@components/Page-Title.astro";

import Image from "astro/components/Image.astro";
import pageBannerImg from "@assets/img/country-img/australia_bg.jpg";
import courseImg from "@assets/img/course/course1.jpeg";
import ieltsImg from "@assets/img/course/interview.avif";
import Contact from "@components/Contact.astro";

const pageTitle = "Interview Preparation For Overseas Admission: Essential Tips & Guidance";
const pageDescription = "Equip yourself with effective interview strategies. Boost your confidence and maximize your chances of success with Aone Global Interview Preparation for Overseas Admission.";
const pageKeywords = "";
const pageAuthor = "";

const pageBanner = { url: courseImg.src };
---

<!-- src/pages/index.astro -->
<MainLayout
  title={pageTitle}
  description={pageDescription}
  keywords={pageKeywords}
  author={pageAuthor}
>
  <main>
    <PageTitle title={pageTitle} banner={pageBanner} />

    <div class="businnes-area pt-40 pb-90">
      <div class="container">
        <div class="row">
          <div class="col-xxl-12 col-xl-12 col-lg-12">
            <div class="sidebar__deatils">
              <div class="visa-details">
                <div class="visa-deatils__thumb mb-35"></div>
                <div class="row">
                  <div class="col-6">
                    <h3 class="course-detils__title mb-15">
                        Study Abroad Interview Preparation Guide
                    </h3>
                    <p class="mb-35"> <strong>The interview can be from Immigration or Your Education Provider.</strong>
                    
                    </p>
                    <p class="mb-35"> <strong>The visa interview always seems to be the scariest part of the process for applicants who wish to study abroad, but this should not be the case. The fact that a foreign education provider has offered you admission, means they believe you are in good academic standing and have the skills necessary to pursue your desired program.</strong>
                    
                    </p>
                    <p class="mb-35"> <strong>A visa interview aims to confirm that you are in the right state of mind to study in the country of your choice. Being academically and economically sound is only a small fraction of the total package applicants should possess to succeed overseas. Applicants are required to be mentally mature and independent.</strong>
                    
                    </p>
                    <p class="mb-35"> <strong>This shows that you know what program you are going to study and what significant difference will it make in your Life and Career once you complete the studies and return to your home country.</strong>
                    
                    </p>

                    <p class="mb-35"> <strong>Visa & Academic (education providers) Officers simply want to make sure you have made the right preparations for life as an International student studying abroad.
                    </strong>
                    
                    </p>
                    <ul>
                        <p> Interviews can be grouped into;</p>
                        <ol>
                            <li>1.Questions about the Country of your choice.</li>
                            <li>2.Questions about the applicant’s seriousness.</li>
                            <li>3.Questions about the applicant’s intentions.</li>
                            <li>4.Questions that assess your financial situation.
                            </li>
                        </ol>
                     
                     
                  </div>
                  <div class="col-6">
                    <Image src={ieltsImg} alt="" />
                  </div>
                </div>
              </div>
              <!-- <div class="row g-0">
                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
                  <div class="course__items d-flex align-items-center">
                    <div class="course__items-icon">
                      <i class="far fa-clock"></i>
                    </div>
                    <div class="course__items-dtext">
                      <span>Duration</span>
                      <h4>Approx 12 weeks</h4>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
                  <div class="course__items d-flex align-items-center">
                    <div class="course__items-icon">
                      <i class="fas fa-users"></i>
                    </div>
                    <div class="course__items-dtext">
                      <span>Classes</span>
                      <h4>Approx 28 Classes</h4>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
                  <div class="course__items d-flex align-items-center">
                    <div class="course__items-icon">
                      <i class="fab fa-wpforms"></i>
                    </div>
                    <div class="course__items-dtext">
                      <span>Certificates</span>
                      <h4>Course Certificates</h4>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
                  <div class="course__items d-flex align-items-center">
                    <div class="course__items-icon">
                      <i class="fas fa-coins"></i>
                    </div>
                    <div class="course__items-dtext">
                      <span>Cost</span>
                      <h4>$39/month</h4>
                    </div>
                  </div>
                </div>
              </div> -->

              <!-- <div class="course-ieltes-txt mt-60">
                <h4 class="mb-20">Course Curriculum</h4>
                <p>
                  For the last 25 years, We have helped students, business
                  persons, tourists, clients with medical needs. There are many
                  variations of passages of Lorem Ipsum available, but the
                  majority have suffered alteration
                </p>
              </div> -->
              <!-- <div class="course-module-area pt-15">
                <div class="row">
                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-30">
                    <div class="course-module">
                      <h4 class="course-module__title mb-20">
                        <i class="far fa-hand-point-right"></i> Listening
                      </h4>
                      <div class="course-module__text">
                        <p>
                          Highlight the new, job-relevant skills you've gained
                          and supplement existing qualifications with
                          industry-specific digital certificates plus one for
                          every course within your expert track course.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-30">
                    <div class="course-module">
                      <h4 class="course-module__title mb-20">
                        <i class="far fa-hand-point-right"></i> Writing
                      </h4>
                      <div class="course-module__text">
                        <p>
                          Highlight the new, job-relevant skills you've gained
                          and supplement existing qualifications with
                          industry-specific digital certificates plus one for
                          every course within your expert track course.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-30">
                    <div class="course-module">
                      <h4 class="course-module__title mb-20">
                        <i class="far fa-hand-point-right"></i> Speaking
                      </h4>
                      <div class="course-module__text">
                        <p>
                          Highlight the new, job-relevant skills you've gained
                          and supplement existing qualifications with
                          industry-specific digital certificates plus one for
                          every course within your expert track course.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-30">
                    <div class="course-module">
                      <h4 class="course-module__title mb-20">
                        <i class="far fa-hand-point-right"></i> Reading
                      </h4>
                      <div class="course-module__text">
                        <p>
                          Highlight the new, job-relevant skills you've gained
                          and supplement existing qualifications with
                          industry-specific digital certificates plus one for
                          every course within your expert track course.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
           
             

          
            
         
             
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- abbrand-area start -->
    <div
      class="abbrand-area pb-120 wow fadeInUp"
      data-wow-delay="0.3s"
      style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"
    >
      <div class="container">
        <div class="abbrand-active owl-carousel">
          <div class="abbrand-img">
            <a href=""
              ><img src="assets/img/testimonial/1.png" alt="" /></a
            >
          </div>
          <div class="abbrand-img">
            <a href=""
              ><img src="assets/img/testimonial/2.png" alt="" /></a
            >
          </div>
          <div class="abbrand-img">
            <a href=""
              ><img src="assets/img/testimonial/3.png" alt="" /></a
            >
          </div>
          <div class="abbrand-img">
            <a href=""
              ><img src="assets/img/testimonial/4.png" alt="" /></a
            >
          </div>
          <div class="abbrand-img">
            <a href=""
              ><img src="assets/img/testimonial/5.png" alt="" /></a
            >
          </div>
          <div class="abbrand-img">
            <a href=""
              ><img src="assets/img/testimonial/4.png" alt="" /></a
            >
          </div>
        </div>
      </div>
    </div>
    <Contact />
  </main>
</MainLayout>