---
import MainLayout from "../layouts/MainLayout.astro";
import PageTitle from "@components/Page-Title.astro";

import Image from "astro/components/Image.astro";
import pageBannerImg from "@assets/img/country-img/australia_bg.jpg";
import courseImg from "@assets/img/course/course1.jpeg";
import pteImg from "@assets/img/course/pte-test.jpg";
import Contact from "@components/Contact.astro";

const pageTitle = " PTE Test Preparation for Study Abroad | AOne Global";
const pageDescription = "Get ready for the PTE exam with the best preparation resources at A One Global. Achieve your target score and success.";
const pageKeywords = "";
const pageAuthor = "";

const pageBanner = { url: courseImg.src };
---

<!-- src/pages/index.astro -->
<MainLayout
  title={pageTitle}
  description={pageDescription}
  keywords={pageKeywords}
  author={pageAuthor}
>
  <main>
    <PageTitle title={pageTitle} banner={pageBanner} />

    <div class="businnes-area pt-40 pb-90">
      <div class="container">
        <div class="row">
          <div class="col-xxl-12 col-xl-12 col-lg-12">
            <div class="sidebar__deatils">
              <div class="visa-details">
                <div class="visa-deatils__thumb mb-35"></div>
                <div class="row">
                  <div class="col-6">
                    <div class="text-content general-text-content">
                      <h1 class="course-detils__title mb-15">Best PTE Preparation Classes in India (2024)</h1>
                      <p class="mb-35">
                        PTE is a test of confidence. It tests you calmness while
                        assessing your English language. At A One Global, our
                        PTE preparation classes will help you with the skills
                        and confidence needed to excel in your PTE test. Here’s
                        what our comprehensive course offers:
                      </p>
                      <ul>
                        <li>
                          <strong>All-Round Skill Development:</strong> We cover
                          all four essential skills: Reading, Writing, Speaking,
                          and Listening. And PTE might be beyond these four sections,
                          it test your confidence and patience as well. A highly
                          sophisticated Artificial Intelligence (AI) will look for
                          certain traits in your delivery of the test which you can
                          master here with us.<br />
                          Academic Vocabulary and Grammar Enhancement: Good vocabs
                          and grammars are key to score better in PTE. Our course
                          are designed to enhances your academic word bank, improve
                          your grammar range and other etiquettes increasing your
                          chances of achieving higher scores.<br />
                          Important Tips &amp; Tricks and Do’s and Dont’s: Learn
                          valuable tips and tricks to let the computer think you
                          know the answer. Certain Do’s that you must imply in your
                          exams and certain things you must refrain doing in the
                          test – all these valuable lessons will be taught in our
                          six weeks long intensive classes.
                        </li>
                        <li>
                          <strong>Authentic Materials:</strong> PTE is taught by
                          using the most sought-after online platform in the country.
                          Such, software often charges money but we at A One will
                          provide to the students for free until they are ready for
                          the exam. Also, official Pearson’s PTE website will be
                          used for teaching in the classrooms. Apart from that handouts
                          and other documents are also made available to the students
                          and learning materials are shared in the students close
                          online groups.
                        </li>
                        <li>
                          <strong>Score Improvement:</strong> With our guidance,
                          regular practice and update information of the test you’ll
                          witness significant score improvements in a short period.
                        </li>
                      </ul>
                      <p>&nbsp;</p>
                    </div>
                  </div>
                  <div class="col-6">
                    <Image src={pteImg} alt="" />
                  </div>
                </div>
              </div>
              <div class="row g-0">
                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
                  <div class="course__items d-flex align-items-center">
                    <div class="course__items-icon">
                      <i class="far fa-clock"></i>
                    </div>
                    <div class="course__items-dtext">
                      <span>Duration</span>
                      <h4>Approx 12 weeks</h4>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
                  <div class="course__items d-flex align-items-center">
                    <div class="course__items-icon">
                      <i class="fas fa-users"></i>
                    </div>
                    <div class="course__items-dtext">
                      <span>Classes</span>
                      <h4>Approx 28 Classes</h4>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
                  <div class="course__items d-flex align-items-center">
                    <div class="course__items-icon">
                      <i class="fab fa-wpforms"></i>
                    </div>
                    <div class="course__items-dtext">
                      <span>Certificates</span>
                      <h4>Course Certificates</h4>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
                  <div class="course__items d-flex align-items-center">
                    <div class="course__items-icon">
                      <i class="fas fa-coins"></i>
                    </div>
                    <div class="course__items-dtext">
                      <span>Cost</span>
                      <h4>₹23,008</h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="course-ieltes-txt mt-60">
                <h4 class="mb-20">Course Curriculum</h4>
                <p>
                  For the last 25 years, We have helped students, business
                  persons, tourists, clients with medical needs. There are many
                  variations of passages of Lorem Ipsum available, but the
                  majority have suffered alteration
                </p>
              </div>
              <div class="course-module-area pt-15">
                <div class="row">
                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-30">
                    <div class="course-module">
                      <h4 class="course-module__title mb-20">
                        <i class="far fa-hand-point-right"></i> Speaking
                      </h4>
                      <div class="course-module__text">
                        <ul>
                          <li>
                            <strong>Personal Introduction:</strong> Briefly introduce
                            yourself.
                          </li>
                          <li>
                            <strong>Read Aloud:</strong> Read a short text aloud
                            – (6-7 questions)
                          </li>
                          <li>
                            <strong>Repeat Sentence:</strong> Repeat a spoken sentence.
                            (10-12 questions)
                          </li>
                          <li>
                            <strong>Describe Image:</strong> Describe an image (graph,
                            chart, or diagram) within 40 seconds. (2-3 questions)
                          </li>
                          <li>
                            <strong>Re-tell Lecture:</strong> Summarize a spoken
                            lecture within 40 seconds. (1-2 questions)
                          </li>
                          <li>
                            <strong>Answer Short Questions:</strong> Provide concise
                            answers to objective questions. (5-6 questions)
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-30">
                    <div class="course-module">
                      <h4 class="course-module__title mb-20">
                        <i class="far fa-hand-point-right"></i> Writing
                      </h4>
                      <div class="course-module__text">
                        <ul>
                          <li>
                            <strong>Summarize Written Text:</strong> Summarize a
                            passage in one sentence. (1-2 questions)
                          </li>
                          <li>
                            <strong>Essay:</strong> Write an essay (200-300 words)
                            on a given topic. (1-2 questions)
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-30">
                    <div class="course-module">
                      <h4 class="course-module__title mb-20">
                        <i class="far fa-hand-point-right"></i> Listening
                      </h4>
                      <div class="course-module__text">
                        <ul>
                          <li>
                            <strong>Summarize Spoken Text:</strong> Summarize an
                            audio recording. (1-2 questions)
                          </li>
                          <li>
                            <strong
                              >Multiple-Choice, Choose Multiple Answers:</strong
                            > Select all correct answers. (1-2 questions)
                          </li>
                          <li>
                            <strong>Fill in the Blanks:</strong> Fill in missing
                            words. (2-3 questions)
                          </li>
                          <li>
                            <strong>Highlight Correct Summary:</strong> Identify
                            the correct summary. (2-3 questions)
                          </li>
                          <li>
                            <strong
                              >Multiple-Choice, Choose Single Answer:</strong
                            > Select the correct answer. (1-2 questions)
                          </li>
                          <li>
                            <strong>Select Missing Word:</strong> Choose the missing
                            word. (1-2 questions)
                          </li>
                          <li>
                            <strong>Highlight Incorrect Words:</strong> Identify
                            incorrect words. (2-3 questions)
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-30">
                    <div class="course-module">
                      <h4 class="course-module__title mb-20">
                        <i class="far fa-hand-point-right"></i> Reading
                      </h4>
                      <div class="course-module__text">
                        <ul>
                          <li>
                            <strong
                              >Multiple-Choice, Choose Single Answer:</strong
                            > Select the correct answer. (1-2 questions)
                          </li>
                          <li>
                            <strong
                              >Multiple-Choice, Choose Multiple Answers:</strong
                            > Select all correct answers. (1-2 questions)
                          </li>
                          <li>
                            <strong>Re-order Paragraphs:</strong> Arrange jumbled
                            paragraphs. (2-3 questions)
                          </li>
                          <li>
                            <strong>Reading Fill in the Blanks:</strong> Fill in
                            missing words. (5-6 questions)
                          </li>
                          <li>
                            <strong
                              >Reading &amp; Writing Fill in the Blanks:</strong
                            > Fill in missing words in a text. (4-5 questions)
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="course-video mb-40">
                <img src="assets/img/course/courseplay.jpg" alt="" />
                <div class="course-video_btn">
                  <a
                    class="course-btn popup-video"
                    href="https://www.youtube.com/watch?v=pNje3bWz7V8"
                    ><i class="flaticon-play-button-1"></i></a
                  >
                </div>
              </div>
              <div class="course-ieltes-txt mb-10">
                <h4 class="mb-15">
                  A One: Your PTE Authorized Test Preparation Center
                </h4>
                <ul class="necessary-link mb-40">
                  <li>
                    <i class="fas fa-check-square"></i>At A One, we are
                    committed to helping students achieve their best scores in
                    the Pearson Test of English (PTE). As an authorized center,
                    we provide a supportive and focused environment where
                    students can immerse themselves in PTE practice. Our
                    experienced instructors guide students through comprehensive
                    study materials, mock tests, and personalized feedback.
                    Whether you’re aiming for academic success, immigration, or
                    professional growth, A One is your trusted partner on your
                    PTE journey
                  </li>
                </ul>
              </div>
              <div class="course-ieltes-txt mb-10">
                <h4 class="mb-15">PTE Associates: Certified and Authentic</h4>

                <ul class="necessary-link mb-40">
                  <li>
                    <i class="fas fa-check-square"></i>Experienced and In 2022,
                    A One was awarded Certified Associate status. This
                    prestigious recognition underscores our authenticity and
                    professionalism. When you choose A One, you’re choosing
                    quality and trust.
                  </li>
                </ul>
              </div>
              <div class="course-ieltes-txt mb-10">
                <h4 class="mb-15">
                  Trusted by thousands as we make test bookings easy
                </h4>

                <ul class="necessary-link mb-40">
                  <li>
                    <i class="fas fa-check-square"></i>For two consecutive years
                    (2022 and 2023), A One has been honored with the Top
                    Achievers Award. Why? Because we’ve consistently enrolled
                    more students in PTE than any other center. Our commitment
                    to excellence pays off, and our students reap the rewards.
                  </li>
                </ul>
              </div>

              <div class="course-ieltes-txt mb-10">
                <h4 class="mb-15">Most competitive Pricing @ Rs 23,008</h4>

                <ul class="necessary-link mb-40">
                  <li>
                    <i class="fas fa-check-square"></i>Speaking of cost, A One
                    offers test bookings at the most competitive price: just Rs
                    23,008. We believe that quality education should be
                    accessible to all. Join our growing community of PTE
                    achievers and let’s pave the way to your success together!
                  </li>
                </ul>
              </div>

             
              <div class="course-tabs">
                <h4
                  class="course-tbtitle mb-40"
                  style="border-bottom : 1px solid gray"
                >
                  Frequently Asked Questions
                </h4>
                <div class="tab-content mb-30">
                  <div class="tab-pane fade show active">
                    <div class="faq-content faq-white">
                      <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapseOne"
                              aria-expanded="true"
                              aria-controls="collapseOne"
                            >
                              How long does it take for a Transit Visa to
                              process?
                            </button>
                          </h2>
                          <div
                            id="collapseOne"
                            class="accordion-collapse collapse show"
                            aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample"
                          >
                            <div class="accordion-body">
                              The European business visa is mainly for people
                              who want to participate in business meetings,
                              conferences in Europe. Visa holders are not
                              allowed to work or seek employment in Europe.
                              Individuals and circumstances influence how long
                              it takes to apply for a business visa.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingTwo">
                            <!-- <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="fasse" aria-controls="collapseTwo">
                              What is the purpose of the United States Business visa?
                            </button> -->
                          </h2>
                          <div
                            id="collapseTwo"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample"
                          >
                            <div class="accordion-body">
                              <p>
                                The European business visa is mainly for people
                                who want to participate in business meetings,
                                conferences in Europe. Visa holders are not
                                allowed to work or seek employment in Europe.
                                Individuals and circumstances influence how long
                                it takes to apply for a business visa.
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThree">
                            <!-- <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="fasse" aria-controls="collapseThree">
                              If the applicant is intending to stay more than 3 months?
                            </button> -->
                          </h2>
                          <div
                            id="collapseThree"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample"
                          >
                            <div class="accordion-body">
                              <p>
                                The European business visa is mainly for people
                                who want to participate in business meetings,
                                conferences in Europe. Visa holders are not
                                allowed to work or seek employment in Europe.
                                Individuals and circumstances influence how long
                                it takes to apply for a business visa.
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThree1">
                            <!-- <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree1" aria-expanded="fasse" aria-controls="collapseThree1">
                              What are the important things to know as a Transit Visa applicant?
                            </button> -->
                          </h2>
                          <div
                            id="collapseThree1"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingThree1"
                            data-bs-parent="#accordionExample"
                          >
                            <div class="accordion-body">
                              <p>
                                The European business visa is mainly for people
                                who want to participate in business meetings,
                                conferences in Europe. Visa holders are not
                                allowed to work or seek employment in Europe.
                                Individuals and circumstances influence how long
                                it takes to apply for a business visa.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- abbrand-area start -->
    <div
      class="abbrand-area pb-120 wow fadeInUp"
      data-wow-delay="0.3s"
      style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"
    >
      <div class="container">
        <div class="abbrand-active owl-carousel">
          <div class="abbrand-img">
            <a href=""
              ><img src="assets/img/testimonial/1.png" alt="" /></a
            >
          </div>
          <div class="abbrand-img">
            <a href=""
              ><img src="assets/img/testimonial/2.png" alt="" /></a
            >
          </div>
          <div class="abbrand-img">
            <a href=""
              ><img src="assets/img/testimonial/3.png" alt="" /></a
            >
          </div>
          <div class="abbrand-img">
            <a href=""
              ><img src="assets/img/testimonial/4.png" alt="" /></a
            >
          </div>
          <div class="abbrand-img">
            <a href=""
              ><img src="assets/img/testimonial/5.png" alt="" /></a
            >
          </div>
          <div class="abbrand-img">
            <a href=""
              ><img src="assets/img/testimonial/4.png" alt="" /></a
            >
          </div>
        </div>
      </div>
    </div>
    <Contact />

    <script>
      // document.addEventListener("DOMContentLoaded", function () {
      //   // Function to handle tab switching
      //   function handleTabSwitch(tabButtons, tabPanes) {
      //     tabButtons.forEach((button) => {
      //       button.addEventListener("click", function (event) {
      //         event.preventDefault();

      //         // Remove active class from all tab buttons and tab panes
      //         tabButtons.forEach((btn) => btn.classList.remove("active"));
      //         tabPanes.forEach((pane) => pane.classList.remove("active"));

      //         // Add active class to the clicked tab button
      //         button.classList.add("active");

      //         // Add active class to the corresponding tab pane
      //         const targetPaneId = button.getAttribute("href").substring(1);
      //         const targetPane = document.getElementById(targetPaneId);
      //         targetPane.classList.add("active");
      //       });
      //     });
      //   }

      //   // Handle main country tabs
      //   const mainTabButtons = document.querySelectorAll("#mainTabs .nav-link");
      //   const mainTabPanes = document.querySelectorAll(".tab-content .tab-pane");
      //   handleTabSwitch(mainTabButtons, mainTabPanes);
      // });
    </script>
  </main>
</MainLayout>