---
import MainLayout from "../layouts/MainLayout.astro";
import PageTitle from "@components/Page-Title.astro";

import Image from "astro/components/Image.astro";
import pageBannerImg from "@assets/img/country-img/australia_bg.jpg";
import courseImg from "@assets/img/course/course1.jpeg";
import toeflImg from "@assets/img/course/toefl-test.png";
import Contact from "@components/Contact.astro";

const pageTitle = "Best Toefl Test Preparation | A One Global";
const pageDescription = "View practice exams, books, guides, courses, and materials in accessible forms to help you prepare for the TOEFL exam.";
const pageKeywords = "";
const pageAuthor = "";

const pageBanner = { url: courseImg.src };
---

<!-- src/pages/index.astro -->
<MainLayout
  title={pageTitle}
  description={pageDescription}
  keywords={pageKeywords}
  author={pageAuthor}
>
  <main>
    <PageTitle title={pageTitle} banner={pageBanner} />

    <div class="businnes-area pt-40 pb-90">
      <div class="container">
        <div class="row">
          <div class="col-xxl-12 col-xl-12 col-lg-12">
            <div class="sidebar__deatils">
              <div class="visa-details">
                <div class="visa-deatils__thumb mb-35"></div>
                <div class="row">
                  <div class="col-6">
                    <h3 class="course-detils__title mb-15">
                      Best TOEFL Classes in India to Succeed in 2024
                    </h3>
                    <p class="mb-35">
                      TOEFL preparation class in A One Global will make you
                      ready to answer all the questions in your TOEFL test with
                      confidence. All four skills, Reading, Writing, Speaking,
                      and Listening, will be covered in this course. The course
                      will enhance your academic word bank which will increase
                      your chance of getting higher scores on your test. We will
                      be sharing various tips and tricks on how to impress the
                      examiner with your answer. All activities will be
                      comprised of authentic test materials and be evaluated
                      based on official TOEFL scores. Students will learn time
                      management skills and see their scores improve in just a
                      short period.
                    </p>
                    <p class="mb-35">
                      TOEFL preparation classes in A One Global are designed to
                      help individuals improve their reading, writing, speaking,
                      and listening skills with a range of strategies and
                      cumulative resources. We focus on familiarizing the
                      individuals with the test format and questions, assisting
                      the individuals in effectively managing their time during
                      the exam, and providing practice opportunities with mock
                      tests.
                    </p>
                  </div>
                  <div class="col-6">
                    <Image src={toeflImg} alt="" />
                  </div>
                </div>
              </div>
              <div class="row g-0">
                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
                  <div class="course__items d-flex align-items-center">
                    <div class="course__items-icon">
                      <i class="far fa-clock"></i>
                    </div>
                    <div class="course__items-dtext">
                      <span>Duration</span>
                      <h4>Approx 12 weeks</h4>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
                  <div class="course__items d-flex align-items-center">
                    <div class="course__items-icon">
                      <i class="fas fa-users"></i>
                    </div>
                    <div class="course__items-dtext">
                      <span>Classes</span>
                      <h4>Approx 28 Classes</h4>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
                  <div class="course__items d-flex align-items-center">
                    <div class="course__items-icon">
                      <i class="fab fa-wpforms"></i>
                    </div>
                    <div class="course__items-dtext">
                      <span>Certificates</span>
                      <h4>Course Certificates</h4>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
                  <div class="course__items d-flex align-items-center">
                    <div class="course__items-icon">
                      <i class="fas fa-coins"></i>
                    </div>
                    <div class="course__items-dtext">
                      <span>Cost</span>
                      <h4>$39/month</h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="course-ieltes-txt mt-60">
                <h4 class="mb-20">Course Curriculum</h4>
                <p>
                  For the last 25 years, We have helped students, business
                  persons, tourists, clients with medical needs. There are many
                  variations of passages of Lorem Ipsum available, but the
                  majority have suffered alteration
                </p>
              </div>
              <div class="course-module-area pt-15">
                <div class="row">
                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-30">
                    <div class="course-module">
                      <h4 class="course-module__title mb-20">
                        <i class="far fa-hand-point-right"></i> Reading
                      </h4>
                      <div class="course-module__text">
                        <p>
                          In this section, you will read 3-4 passages and answer
                          10 questions on each passage. The section is scored
                          based on the number of correct reading comprehension
                          responses.
                        </p>
                        <p><strong>Question type:</strong></p>
                        <ul>
                          <li style="list-style-type: disc;">
                            3–4 passages, 10 questions each
                          </li>
                          <li style="list-style-type: disc;">
                            Total no. of questions: About 30-40
                          </li>
                          <li style="list-style-type: disc;">
                            Total time: 54-72 minutes
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-30">
                    <div class="course-module">
                      <h4 class="course-module__title mb-20">
                        <i class="far fa-hand-point-right"></i> Listening
                      </h4>
                      <div class="course-module__text">
                        <p>
                          In the Listening test section, you will hear lectures
                          and conversations, based on campus language. This
                          section aims to understand the test taker’s ability to
                          understand conversations and lectures in English. It
                          includes listening to basic comprehension and
                          understanding, connecting, and synthesizing
                          information.
                        </p>
                        <p><strong>Question type:</strong></p>
                        <ul>
                          <li>
                            a). 3–4 lectures (3-5 minutes long, about 500-800
                            words), 6 questions each
                          </li>
                          <li>
                            b). 2–3 conversations (about 3 minutes long, about
                            12-25 exchanges), 5 questions each
                          </li>
                          <li style="list-style-type: disc;">
                            Total time: 41–57 minutes.
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-30">
                    <div class="course-module">
                      <h4 class="course-module__title mb-20">
                        <i class="far fa-hand-point-right"></i> Speaking
                      </h4>
                      <div class="course-module__text">
                        <p>
                          For you to earn the highest scores in the Speaking
                          Section, your responses must fulfil the demands of the
                          task given with only minor mistakes or lapses. The
                          test graders are looking for a highly intelligible and
                          sustained conversation. Three main factors comprise
                          scoring for the section, viz, delivery, language use,
                          and topic development.
                        </p>
                        <p><strong>Question type:</strong></p>
                        <ul>
                          <li>
                            a). 1 independent task (prep time: 15 sec; response
                            time: 45 sec)
                          </li>
                          <li>
                            b). 2–3 conversations (about 3 minutes long, about
                            12-25 exchanges), 5 questions each
                          </li>
                          <li style="list-style-type: disc;">
                            Total time: 41–57 minutes
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-30">
                    <div class="course-module">
                      <h4 class="course-module__title mb-20">
                        <i class="far fa-hand-point-right"></i> Writing
                      </h4>
                      <div class="course-module__text">
                        <p>
                          Highlight the new, job-relevant skills you've gained
                          and supplement existing qualifications with
                          industry-specific digital certificates plus one for
                          every course within your expert track course.
                        </p>
                        <p><strong>Question type:</strong></p>
                        <ul>
                          <li>
                            a) 1 integrated task – Read/Listen/Write (20 minutes) (reading time: 3 min; Listening time: 2 min; writing: 15 min)
                          </li>
                          <li>
                            b) 1 independent task (30 minutes)
                          </li>
                          <li style="list-style-type: disc;">
                            Total no. of questions: 2
                          </li>
                          <li style="list-style-type: disc;">
                            Total time: 50 minutes
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="course-video mb-40">
                <img src="assets/img/course/courseplay.jpg" alt="" />
                <div class="course-video_btn">
                  <a
                    class="course-btn popup-video"
                    href="https://www.youtube.com/watch?v=pNje3bWz7V8"
                    ><i class="flaticon-play-button-1"></i></a
                  >
                </div>
              </div>
              <div class="course-ieltes-txt mb-10">
                <h4 class="mb-15">Understanding TOEFL:</h4>
                <p>
                  <strong
                    >Test of English as a Foreign Language (TOEFL) is a standardized computer-based test to measure the English language ability of non-native speakers wishing to enroll in English-speaking universities. The test helps you stand out confidently in English. It’s the test that measures all four academic English skills — reading, listening, speaking, and writing — the way they are used in a classroom, so you can be confident you’ll stand out to universities where it counts. The test is accepted by more than 11,500 universities and other institutions in over 190 countries and territories. TOEFL is one of several major English-language tests in the world, including IELTS, Cambridge Assessment English, and Trinity College London exams.</strong>
                </p>
                <p><strong>When you choose the TOEFL iBT test to show your English proficiency, universities notice and know you’re ready to succeed. Accepted worldwide by more than 11,500 universities and institutions in over 160 countries, the TOEFL iBT test is the world’s premier English-language test for study, work, and immigration.</strong></p>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- abbrand-area start -->
    <div
      class="abbrand-area pb-120 wow fadeInUp"
      data-wow-delay="0.3s"
      style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"
    >
      <div class="container">
        <div class="abbrand-active owl-carousel">
          <div class="abbrand-img">
            <a href=""
              ><img src="assets/img/testimonial/1.png" alt="" /></a
            >
          </div>
          <div class="abbrand-img">
            <a href=""
              ><img src="assets/img/testimonial/2.png" alt="" /></a
            >
          </div>
          <div class="abbrand-img">
            <a href=""
              ><img src="assets/img/testimonial/3.png" alt="" /></a
            >
          </div>
          <div class="abbrand-img">
            <a href=""
              ><img src="assets/img/testimonial/4.png" alt="" /></a
            >
          </div>
          <div class="abbrand-img">
            <a href=""
              ><img src="assets/img/testimonial/5.png" alt="" /></a
            >
          </div>
          <div class="abbrand-img">
            <a href=""
              ><img src="assets/img/testimonial/4.png" alt="" /></a
            >
          </div>
        </div>
      </div>
    </div>
    <Contact />
  </main>
</MainLayout>