---
import Image from "astro/components/Image.astro";

import partner1 from "@assets/img/partners/1.webp";
import partner2 from "@assets/img/partners/2.png";
import partner3 from "@assets/img/partners/3.png";
import partner4 from "@assets/img/partners/4.png";
import partner5 from "@assets/img/partners/5.png";
import partner6 from "@assets/img/partners/6.png";
import partner7 from "@assets/img/partners/7.webp";
import partner8 from "@assets/img/partners/8.png";
import partner9 from "@assets/img/partners/9.png";
import partner10 from "@assets/img/partners/10.png";
import partner11 from "@assets/img/partners/11.png";
import partner12 from "@assets/img/partners/12.png";
---

<!-- Our Partners start -->
<section class="partners-area pt-120 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-xxl-4 col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
        <div class="section_title_wrapper partners-65 mb-30">
          <span class="subtitle"> Our Partners uk </span>
          <h2 class="section-title">
            Our Partner Companies <br />And Institutions uK
          </h2>
          <p class="mt-30 mb-40">
            We have helped students, business persons, tourists, clients with medical needs to acquire U.S. visas. Besides, we also help with other family and provide counselling services for
            immigration
          </p>
          <a href="" class="theme-btn partner-btn">See All Partners</a>
        </div>
      </div>
      <div class="col-xxl-8 col-xl-8 col-lg-8 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <div class="row g-0">
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4">
            <div class="partner-img">
              <a href=""><Image src={partner1} height="80" alt="" /></a>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4">
            <div class="partner-img">
              <a href=""><Image src={partner2} height="80" alt="" /></a>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4">
            <div class="partner-img">
              <a href=""><Image src={partner3} height="80" alt="" /></a>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4">
            <div class="partner-img">
              <a href=""><Image src={partner4} height="80" alt="" /></a>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4">
            <div class="partner-img">
              <a href=""><Image src={partner5} height="80" alt="" /></a>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4">
            <div class="partner-img">
              <a href=""><Image src={partner6} height="80" alt="" /></a>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4">
            <div class="partner-img">
              <a href=""><Image src={partner7} height="80" alt="" /></a>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4">
            <div class="partner-img">
              <a href=""><Image src={partner8} height="80" alt="" /></a>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4">
            <div class="partner-img">
              <a href=""><Image src={partner9} height="80" alt="" /></a>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4">
            <div class="partner-img">
              <a href=""><Image src={partner10} height="80" alt="" /></a>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4">
            <div class="partner-img">
              <a href=""><Image src={partner11} height="80" alt="" /></a>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4">
            <div class="partner-img">
              <a href=""><Image src={partner12} height="80" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our Partners end -->
