---
import { Image } from 'astro:assets';
import scholarship_bg from '@assets/img/test.webp';


// import Image from "astro/components/Image.astro"
---
<!-- Scholarship Programs start here -->
<section
  class="scholarship-area d-flex align-items-center"
  style="background-image: url(/img/scholarship/scholarship-bg.jpg);"
>
  <div class="container">
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6">
        <div class="scholarship-left">
          <!-- <Image src={sc1} alt="image of bird" /> -->
        </div>
      </div>
      <div
        class="col-xxl-6 col-xl-6 col-lg-6 wow fadeInUp"
        data-wow-delay="0.3s"
        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"
      >
        <div class="scholarship__wrapper pt-110 pb-90">
          <h2 class="scholarship__wrapper-title mb-30">
            20+ Best Universities Scholarship Programs From 20 Countries
          </h2>
          <p>
            We also help with other family based employment based and investment
            based Immigration. Praesent eui vel aliquam nisl efficitur eu.
          </p>
          <div class="scholarship__wrapper-img mb-40">
            <Image src={scholarship_bg} alt="" />
            <!-- <Image src={sc1} alt="" />
            <Image src={sc1} alt="" />
            <Image src={sc1} alt="" />
            <Image src={sc1} alt="" /> -->
          </div>2022</h5>
          <a href="/contact-us" class="theme-btn blacks-hover">Apply Now </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Scholarship Programs end here -->
